@page "/ViewTodos"
@using HttpClients.ClientInterfaces
@using Domain.Models;
@using Domain.DTOs
@using UIComponents
@inject ITodoService todoService
@inject IUserService userService

@if (todoList == null)
{
    <label>Loading...</label>
}
else
{
    <div class="filters-container">
        <img class="funnel" src="@(doShowFilters? "icons/funnel.png": "icons/clear_funnel.png")" @onclick="() => doShowFilters = !doShowFilters" alt="@(doShowFilters? "Filter" : "Not filter")"/>
        @if (doShowFilters)
        {
            <div class="filter">
                <label>Assignee username:</label>
                <select @bind="selectedUserIdFilter">
                    @if (userList == null)
                    {
                        <option>Loading...</option>
                    }
                    else
                    {
                        <option value="null">All</option>
                        foreach (var user in userList)
                        {
                            <option value="@user.Id">@user.Username</option>
                        }
                    }
                </select>
            </div>
            <div class="filter">
                <label>Show TODOs:</label>
                <select @bind="completedFilter">
                    <option value="all">All</option>
                    <option value="true">Only completed</option>
                    <option value="false">Needs to be completed</option>
                </select>
            </div>
            <div class="filter">
                <label>Title contains:</label>
                <input type="text" @bind="titleContainsFilter"/>
            </div>
            <button class="actionbtn text-nowrap" @onclick="ApplyFilters">Apply filters</button>
        }
    </div>
    
    
    <div class="container-fluid row p-0 no-gutters d-flex">
        <div class="todos col-sm">
            <h3 class="col-title">Tasks TODO</h3>
            @foreach (var todo in todoList.Where(t => !t.IsCompleted))
            {
                <div class="todo-card">
                    <label style="color: dodgerblue; font-size: 1.1rem">@todo.Title</label>
                    <label style="text-align: end">Assignee: @todo.Owner.Username</label>
                    <FancyCheckBox IsCompleted="todo.IsCompleted" OnChange="@((status) => CompleteTodo(todo, status))"/>
                </div>
            }
        </div>
        
        <div class="vr vr-blurry p-0 d-flex flex-column justify-content-between"></div>
        <div class="todos col-sm">
         
        <h3 class="col-title">Completed tasks</h3>
        @foreach (var todo in todoList.Where(t => t.IsCompleted))
        {
            <div class="todo-card">
                <label style="color: dodgerblue; font-size: 1.1rem">@todo.Title</label>
                <label style="text-align: end">Assignee: @todo.Owner.Username</label>
                <FancyCheckBox IsCompleted="todo.IsCompleted" OnChange="@((status) => CompleteTodo(todo, status))"/>
            </div>
        }
        </div>
    </div>
}

@code {
    private IEnumerable<Todo>? todoList;
    private IEnumerable<User>? userList;
    private bool doShowFilters = false;
    
    private string? selectedUserIdFilter;
    private string? titleContainsFilter;
    private string? completedFilter = "all";
    
    protected override async Task OnInitializedAsync()
    {
        todoList = await todoService.GetAsync(new SearchTodoParametersDto());
        userList = await userService.GetAllAsync(new SearchUserParametersDto(null));
    }

    private async Task ApplyFilters()
    {
        bool? completedStatus = completedFilter == "all" ? null : bool.Parse(completedFilter!);
        int? userIdFilter = int.TryParse(selectedUserIdFilter, out _)? int.Parse(selectedUserIdFilter!) : null;

        todoList = await todoService.GetAsync(new SearchTodoParametersDto(
            null, userIdFilter, completedStatus, titleContainsFilter));
    }
    
    private async Task CompleteTodo(Todo todo, bool status)
    {
        TodoUpdateDto updateDto = new TodoUpdateDto(todo.Id)
        {
            IsCompleted = status
        };

        try
        {
            await todoService.UpdateAsync(updateDto);
            todoList = await todoService.GetAsync(new SearchTodoParametersDto());
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}